.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 55px 0;
  max-height: 170px;
  position: relative;
  width: 100%;

  .no-visible {
    transform: scale(0);
    transition: transform ease-in-out 1s;

    img {
      transform: scale(0);
    }
  }

  .red-gradiant {
    background: linear-gradient(
      to bottom right,
      #ffcccc,
      #ffb3b3
    ); /* Gradiente rojo muy clarito */
    border-radius: 50%;
    border: 1px solid #ccc;
    bottom: calc(50% - 118px);
    height: 100px;
    left: calc(50% + 26px);
    opacity: 0.94;
    position: absolute;
    transform: scale(1);
    transition: transform ease-in-out 1s;
    width: 100px;
    z-index: -1;
  }

  .myPhoto {
    border-radius: 50%;
    border: 1px solid #000;
    height: 170px;
    max-height: 170px;
    max-width: 170px;
    overflow: hidden;
    transform: scale(1);
    transition: transform ease-in-out 1s;
    width: 170px;

    img {
      height: 100%;
      object-fit: cover;
      transform: scale(1.18) translateX(6px) translateY(12px);
      width: 100%;
    }
  }

  .blue-gradiant {
    background: linear-gradient(to bottom right, #b3e0ff, #99ccff);
    border-radius: 50%;
    border: 1px solid #ccc;
    height: 100px;
    opacity: 0.94;
    position: absolute;
    right: calc(50% + 26px);
    top: calc(50% - 118px);
    transform: scale(1);
    transition: transform ease-in-out 1s;
    width: 100px;
    z-index: -1;
  }
}

@media screen and (min-width: 992px) {
  .container {
    margin: 65px 0;
  }
}
