.subtitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  max-width: 1532px;
  padding: 0 16px;
  margin: 0 auto 12px auto;
  transform: translateX(0);
  opacity: 1;
  transition: all ease-in-out 1s;
}

.no-visible {
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  max-width: 1532px;
  padding: 0 16px;
  margin: 0 auto 12px auto;
  transform: translateX(100vw);
  opacity: 0;
  transition: all ease-in-out 1s;
}

@media screen and (min-width: 992px) {
  .subtitle {
    font-size: 28px;
    margin: 0 auto 20px auto;
  }

  .no-visible {
    font-size: 28px;
    margin: 0 auto 20px auto;
  }
}
